@model IEnumerable<GoodsAccountingSystem.ViewModels.UserViewModel>
@using GoodsAccountingSystem.Helpers
@{
    ViewBag.Title = "Список пользователей";
}

<div>
    <h2 class="text-center">Список пользователей</h2>
</div>

@(Html
        .Grid("_CustomGrid", Model)
        .Build(columns =>
        {
            columns.Add(model => model.Email).Titled((@Html.DisplayNameFor(model => model.Email)));
            columns.Add(model => model.FirstName).Titled((@Html.DisplayNameFor(model => model.FirstName)));
            columns.Add(model => model.SecondName).Titled((@Html.DisplayNameFor(model => model.SecondName)));
            columns.Add(model => model.MiddleName).Titled((@Html.DisplayNameFor(model => model.MiddleName)));
            columns.Add(model => model.Role).Titled((@Html.DisplayNameFor(model => model.Role)));
        })
        .Empty("No data found")
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 5;
            pager.RowsPerPage = 20;
        })
        .Sortable()
        .Pageable()
)

<partial name="_FormScripts" />
@section Scripts {
    <partial name="_HandleErrorModal" />
}


@*<td>
        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        </form>
    </td>*@