@model IEnumerable<GoodsAccountingSystem.Models.GoodModel>

@{
    ViewData["Title"] = "GoodsList";
}

<h2>Список товаров</h2>
<hr />
@DateTime.Now.ToLongTimeString()

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                Дата создания
            </th>
            <th>
                Название товара
            </th>
            <th>
                Цена
            </th>
            <th>
                Описание
            </th>
            <th>
                Файл приложение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                <button asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">&times;</button>
            </td>
        </tr>
}
    </tbody>
</table>