@model GoodsAccountingSystem.Models.GoodModel

@{
    ViewData["Title"] = "Delete";
}

<div id="delGoodModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-confirm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Вы действительно хотите удалить товар?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.InStock)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.InStock)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Attachment)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Attachment)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <form asp-action="" onsubmit="SubDeleteGoodForm()" id="deleteGoodForm">
                    <input type="hidden" asp-for="Id" />
                    <button type="button" class="btn btn-light border-dark" data-dismiss="modal">Отмена</button>
                    <input type="submit" value="Удалить" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@{
    <script>
        function SubDeleteGoodForm() {
            $.ajax({
                url: '/Goods/Delete/',
                type: 'post',
                data: $('#deleteGoodForm').serialize(),
                success: function (response) {
                    /*
                     * Вывести попап окно aka тостер
                     */
                    console.log("delete good: success");
                    console.log(response);
                },
                error: function () {
                    console.log("delete good: fail");
                }
            });
            $('#delGoodModal').modal('hide');
        }
    </script>
}